/* Overrides KT class to hide Settings in Menu @ PC media */

@media (min-width: 1025px) {
    .kt-header-menu .kt-menu__nav>.kt-menu__item.mobileMenuViewSettings {
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 .15rem;
    }
}

/* Ipad Pro View */
@media (max-width: 1199px) {
    /*START SPONSOR DIAGRAM*/
    .emptyDisgramBox {
        height: 240px;
    }

    .bgFooter {
        padding: 10px 15px;
    }

    .bgFooterDiv {
        margin: 10px;
    }

    .bgFooterDiv img {
        width: 100%;
        height: auto;
    }
    /*END SPONSOR DIAGRAM*/

    .profileBox {
        padding: 20px;
    }

    .profileFont04 {
        font-size: 12px;
    }
    
    .profileFont05 {
        font-size: 13px;
    }

    .profileFont06 {
        font-size: 13px;
    }

    /*.profileGreySection {
        padding: 10px;
    }

    .profileWhiteSection {
        padding: 10px;
    }*/

    .referralBtn {
        margin-left: unset;
    }

    .dashboardText{
        font-size:11px;
    }

    .blackFont{
        font-size: 18px;
    }
}

/* Ipad View */
@media (max-width: 990px) {
    /*START SPONSOR DIAGRAM*/
    .emptyDisgramBox {
        height: 240px;
    }

    .bgFooter {
        padding: 10px 15px;
    }

    .bgFooterDiv {
        margin: 10px;
    }

    .bgFooterDiv img {
        width: 100%;
        height: auto;
    }
    /*END SPONSOR DIAGRAM*/

    .profileDetailSection {
        padding: 15px 20px;
    }

    .dashboardText{
        font-size:11px;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    /*START SPONSOR DIAGRAM*/
    .emptyDisgramBox {
        height: 240px;
    }

    .bgFooter {
        padding: 10px 15px;
    }

    .bgFooterDiv {
        margin: 10px;
    }

    .bgFooterDiv img {
        width: 100%;
        height: auto;
    }

    /*END SPONSOR DIAGRAM*/

    .bgFooterTxt {
        padding: 0;
        text-align: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-size: 10px;
    }

    .pageTitle{
        font-size: 18px;
    }

    .walletPgAmt {
        font-size: 20px;
    }

    .profileIcon {
        width: 120px;
    }
    
    .profileBox {
        padding: 20px;
    }

    .profileFont04 {
        font-size: 12px;
    }

    .profileFont05 {
        font-size: 12px;
    }

    .profileFont06 {
        font-size: 12px;
    }

    .circle-wrap,
    .circle-wrap2,
    .circle-wrap3 {
        margin: 12.5% 25%;
    }

    .dashboardFooter2 {
        margin-left: 15%;
        position: absolute;
        bottom: 1%;
    }

    .circle-chart {
        width: 80px !important;
        height: 80px !important;
    }

    .circlechart.big .circle-chart {
        width: 150px !important;
        height: 150px !important;
    }

    .dbBanner {
        height: 200px;
    }

    .awardText {
        font-size: 18px;
    }

    .dbSponsorNum {
        font-size: 18px;
        font-weight: 600;
        color: #fd9f41;
    }

    .mobileSidebar{
        width: 50%;
    }

    .isDefaultSlider {
        top: 1.5rem;
        right: 1.5rem;
    }
}

@media (max-width: 576px) {
    .titleText.larger {
        font-size: 30px;
    }
    
    .titleText.smaller {
        font-size: 20px;
    }

    .bodyText.larger {
        font-size: 16px;
    }

    .mobileSidebar{
        width: 80% !important;
    }

    .isDefaultSlider {
        position: static;
    }
}