.homepageHeader {
    background-color: #fff;
    width: 100%;
}

.sidebarLogo{
    /*left: 50%;*/
    /*transform: translateX(50px);*/
    margin:15px auto;
}

/*.homepageHeader.scrolled {
    background-color: #f5f5f5;
}*/

.headerMenu {
    width: 100%;
}

.headerMenuItem {
  padding: 0px 2px;
    position: relative;
}

.dropbtn {
    background-color: #fff;
    background: #fff;
    color: black;
    border: none;
    display: inline;
    letter-spacing: 0;
    font-size: 14px;
    cursor: pointer;
}

.dropdownIcon {
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*margin-right: -30px;*/
    margin-top: 20px;
    min-width: 200px;
    background: #f8f8f8;
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2)
}

.showDropdown.open ~ .dropdownContent {
    display: block;
}


.dropdown-content2:after, .dropdown-content2:before,
.dropdown-content:after, .dropdown-content:before {
    bottom: 100%;
    right: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-content2:after,
.dropdown-content:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #f8f8f8;
    border-width: 15px;
    margin-left: -15px;
}

.dropdown-content2 {
    /*margin-right: -30px;*/
    margin-top: 20px;
    min-width: 200px;
    background: #f8f8f8;
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
}

.dropdown-content p {
    margin-bottom: 0;
}

.dropdown-content2 a,
.dropdown-content a,
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content2 a:last-child,
.dropdown-content a:last-child,
.dropdown-content p:last-child {
    border-bottom: none;
}

.dropdown-content2 a:hover ,
.dropdown-content a:hover,
.dropdown-content p:hover {
    background-color: #ddd;
}

.menuBtn {
    /*padding: 5px 10px;*/
    font-weight: 300;
    font-size: 14px;
    color: #6c6e86;
    text-transform: none;
}

.sidebarDetail{
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn.menuBtn {
    padding: 0.4rem 1rem;
}

.menuBtn i.la.la-angle-right {
    display: none;
}

.menuBtn i.la.la-angle-down {
  font-size: 10px;
  margin-top: -3px;
}

.menuBtn:hover {
    color: #1b75bb;
    /*background-color: #dedede;*/
    border-radius: 0px;
}

.menuBtn.active {
    /*background-color: #dedede;*/
    border-radius: 0px;
}

.menuActive.active, a.menuActive.active .fa, a.menuActive:hover .fa {
    color: #27a9e0;
}

.sideItemSpace .sideBarText {
    font-size: 13px;
}

.menuSettingBtn {
  padding: 5px 0px;
}

.menuSettingBtn i {
  font-size: 25px;
  color: #000;
  line-height: 25px;
}

.sidebarMenuWrapper {
    background-color: #ffffff;
}

.sideBarIcon{
    display: inline;
    color: #90939D;
}

.sidebarImg{
    width: 10%;
}

.sidebarImg2{
    width: 90%;
}

.sideBarItem:hover, .sideBarItem.active{
    background: transparent;
}

.sideBarText{
    color: #90939D;
    vertical-align: middle;
}

.sideBarItem.active span,
.sideBarItem:hover span, 
.sideBarItem.active div,
.sideBarItem:hover div {
    color:white;
}

.sideBarItem {
    border-left: 4px solid transparent;
}

.sideBarItem:hover,.sideBarItem.active, .sideBarItem.active:target, .sideBarItem.active {
    border-left: 4px solid white;
    border-image:linear-gradient(to bottom, white 20%,#fd9f41 20%,#fd9f41 80%,white 80%);
    border-image-slice: 1;
}

.sideBarItem.active .sidebarDetail , .sideBarItem:hover .sidebarDetail, .sideBarItem.active:target .sidebarDetail, .sideBarItem.active .sidebarDetail{
    background: #fd9f41;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 500;
}

.sideBarItem.blue:hover, .sideBarItem.blue.active, .sideBarItem.blue.active:target, .sideBarItem.blue.active {
    border-left: 4px solid white;
    border-image:linear-gradient(to bottom, white 20%,#27a9e0 20%,#27a9e0 80%,white 80%);
    border-image-slice: 1;
}

.sideBarItem.blue.active .sidebarDetail, .sideBarItem.blue:hover .sidebarDetail, .sideBarItem.blue.active:target .sidebarDetail, .sideBarItem.blue.active .sidebarDetail{
    background: #27a9e0;
    color: #ffffff;
}

.sideBarItem.green:hover, .sideBarItem.green.active, .sideBarItem.green.active:target, .sideBarItem.green.active {
    border-left: 4px solid white;
    border-image:linear-gradient(to bottom, white 20%,#8cbe44 20%,#8cbe44 80%,white 80%);
    border-image-slice: 1;
}

.sideBarItem.green.active .sidebarDetail , .sideBarItem.green:hover .sidebarDetail, .sideBarItem.green.active:target .sidebarDetail, .sideBarItem.green.active .sidebarDetail{
    background: #8cbe44;
    color: #ffffff;
}

.sideBarItem:hover .sidebarImg, .sideBarItem.active .sidebarImg, .sideBarItem:hover .sidebarImg2, .sideBarItem.active .sidebarImg2 {
    filter: grayscale(100%) brightness(100) saturate(0);
}

.sideBarMenuDropdownItem:hover .sideBarText {
    /*font-weight: 500;*/
}

.sideBarMenuDropdownItem.active {
    /*background-color: #efefef;*/
}

.sideBarMenuDropdownItem.active .sideBarText{
    color: #000000;
    font-weight: 500;
}

.headerMenuDropdown.active ~ .headerMenuDropdownBox {
    display: block;
    background: #f9f9f9;
}
.headerMenuDropdown.active >  .headerMenuIcon{
    transform: rotate(-90deg);
}
.headerMenuIcon{
    font-size: 20px;
    transform: rotate(90deg);
}  
.headerMenuDropdownBox {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: 0;
    width: 250px;
    animation: headerDropdownBoxFadeIn ease 0.3s;
    z-index: 1;
}

.pageContentWrapper, .sideMenuWrapper {
    padding-top: 59px;
}
.pageContentWrapper, .sideMenuWrapper {
    padding-top: 0;
}

.menuWrap{
    background: #ffffff;
}

.footer{
    background: #f3f3f3;
    padding: 10px auto;
}

.footerCopy{
    text-align: left;
    color: #303030;
    font-weight: 300;
    font-size: 12px;
}

.sideBarMenuDropdownItem {
    padding: 10px 25px 10px 69px;
    font-size: 14px;
    font-weight: 300;
    animation: headerDropdownBoxFadeIn ease 1s forwards;
}

.languageFont{
    color: #000;
}

@keyframes headerDropdownBoxFadeIn {
    0% {
        opacity:0;
        top: 200%;
    }
    100% {
        opacity:1;
        top: 100%;
    }
}

.headerMenuDropdown2.active ~ .headerMenuDropdownBox2 {
    display: block;
}

.headerMenuDropdownBox2 {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: -250px;
    width: 250px;
    animation: headerDropdownBoxFadeIn2 ease 0.3s;
    z-index: 1;
}

@keyframes headerDropdownBoxFadeIn2 {
    0% {
        opacity:0;
        left: 0;
    }
    100% {
        opacity:1;
        left: -250px;
    }
}

.headerMenuDropdownItem {
    width: 100%;
    position: relative;
}

.menuDropdownBtn {
    font-weight: 300;
    font-size: 13px;
    color: black;
    padding: 0;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
}

.menuDropdownBtn:hover {
    background-color: #ddd;
    border-radius: unset;
}

.headerMenuClose {
    display: none;
}

.headerBurgerBtn {
    display: none;
}

.homepageHeaderBlackBG {
    display: none;
}

.homepageHeaderMobile {
    display: none;
}
/* Dashboard Header */
.headerDiv {
    background: white;
}

.centerText {
    margin-top: auto;
    margin-bottom: auto;
}

.boldBlack {
    color:black;
    font-weight: 600;
}

.thinBlack {
    color:black;
    font-weight: 100;
}

.borderLeft{
    border-left: 5px solid #f9f9fc;
}

.headerImg {
    width: 75%;
}

.mobileNone{
    display: inline-block;
}

.smallIconBtn {
    border: 1px solid #E0E0E0;
    padding: 10px;
}

.smallIconBtn .fa {
    color: #FD9F41;
}

.menuUsername {
    font-size: 16px;
}

/* Ipad Pro View */
@media (max-width: 1199px) {

}

/* Ipad View */
@media (max-width: 990px) {
    .menuBtn {
        width: 100%;
        text-align: left;
    }

    /*.menuBtn i {
        font-size: 10px!important;
        margin-left: 5px;
        vertical-align: middle;
        display: inline-flex;
        transition: all .5s ease;
    }*/

    .menuBtn.active {
        color: #1b75bb;
    }

    .menuBtn.active i {
        transform: rotate(90deg);
    }


    .headerMenuDropdown2 i {
        font-size: 10px!important;
        margin-left: 5px;
        vertical-align: middle;
        display: inline-flex;
        transition: all .5s ease;
    }

    .headerMenuDropdown2.active {
        color: #1b75bb;
    }

    .headerMenuDropdown2.active i {
        transform: rotate(90deg);
    }


    .headerMobileDisplayNone {
        display: none;
    }

    .headerMenuItem {
        width: 100%;
    }

    .headerMenuDropdown ~ .headerMenuDropdownBox {
        animation: unset;
        display: block;
        position: relative;
        background-color: transparent;
        top: unset;
        right: unset;
        width: 100%;
        overflow: hidden;
        transition: all .5s ease;
        max-height: 0;
    }  

    .headerMenuDropdown.active ~ .headerMenuDropdownBox {
        transition: all .5s ease;
        max-height: 100vh;
    }

    .headerMenuDropdown2 ~ .headerMenuDropdownBox2 {
        animation: unset;
        display: block;
        position: relative;
        background-color: transparent;
        top: unset;
        left: unset;
        width: 100%;
        overflow: hidden;
        transition: all .5s ease;
        max-height: 0;
    }  

    .headerMenuDropdown2.active ~ .headerMenuDropdownBox2 {
        transition: all .5s ease;
        max-height: 100vh;
    }

    

    .headerMenuClose {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ffffff;
        font-size:25px;
    }

    .headerBurgerBtn,
    .headerBurgerBtn:hover,
    .headerBurgerBtn:focus {
        display: inline-block;
        right: 20px;
        bottom: 25px;
        border-radius: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: #000000; 
    }

    .loginMenuIcon.fas, .loginMenuIcon.fas:hover, .loginMenuIcon.fas:focus {
        display: inline-block;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }

    .headerBurgerBtn i {
        font-size: 25px!important;
        line-height: 25px;
        padding: 0;
        color: #1b75bb;
    }

    .headerBurgerBtn i::before {
        font-weight: 600!important;
    }

    .headerBurgerBtn.active ~ .homepageHeader {
        top: 0;
    }

    .sidebarMenuWrapper {
        position: fixed;
        left: -250px;
        top: 0;
        bottom: 0;
        transition: right .3s;
        z-index: 101;
        overflow-y: scroll;
        width: 250px;
    }

    .sidebarMenuWrapper.active{
        left: 0;
    }

    .homepageHeaderBlackBG {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,0.5);
        z-index: 99;
    }

    .headerBurgerBtn.active ~ .homepageHeaderBlackBG {
        display: block;
    }

    .homepageHeaderMobile {
        display: block;
        background-color: #fff;
        padding: 10px 0px;
        position: relative;
        border-bottom: 1px solid #E6E6E6;
    }

    .mobileNone{
        display: none;
    }

    .mobileSidebar .dropdown-content {
        position: relative;
        margin-top: 15px;
        background: transparent;
        display: none;
        box-shadow: none;
    }

    .mobileSidebar .dropdown-content:after, 
    .mobileSidebar .dropdown-content:before {
        display: none;
    }

    .dropdown-content2 a,
    .dropdown-content a,
    .dropdown-content p {
        padding: 12px 25px;
        border-bottom: none;
    }
}


/* Mobile View */
@media (max-width: 767px) {
    .homepageHeader {
        width: 100%;
        position: fixed;
        top: 100%;
        left: 0;
        height: 100vh;
        background: unset;
        background-color: #fff;
        padding-top: 50px;
        overflow-y: auto;
        transition: all .5s ease;
    }
}

/* Sidebar Ipad Pro View, keep this at last */
@media (min-width: 991px) and (max-width: 1199px) {
    .col-lg-2.ipadproOnly {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .col-lg-10.ipadproOnly {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}
